body {
    background-color: rgb(139, 3, 151);
    margin: auto;
    width: 100%;



  }
  
  
  header {
         text-align: center;   
        
         
  }    

  div {
      float: left

        
  }

  #header-button {

      float: right;

  }
       
main, p {
     
    
        padding: 25px;
    
        margin: auto;    
    
    
    
    } 
      



  footer {

    text-align: center;

  }

 




  